.scrollBox {
    overflow-y: auto;
    &::-webkit-scrollbar {
        opacity: 0;
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background: #ffffff;
    }
}

.scrollBox:hover {
    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background: #ccc;
    }
}